<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ data.title|default("SoloSearch") }}</title>
    {{ block.getChildHtml('head.styles')|raw }}
    {{ block.getChildHtml('head.scripts')|raw }}
</head>
<body class="layout-1column">
    <header class="page-header">
        {{ block.getChildHtml('header')|raw }}
    </header>

    <main class="col-main">
        {{ block.getChildHtml('content')|raw }}
    </main>

    <footer class="page-footer">
        {{ block.getChildHtml('footer')|raw }}
    </footer>
</body>
</html>
